<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
      <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
      <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="ChatAiClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ChatAiClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <nlog>
      <targets>
        <target name="logfile" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="File" fileName="${basedir}/logs/${shortdate}.${processid}.log" layout="${longdate} ${level:uppercase=true} ${logger}: ${message}"/>
      </targets>
      <rules>
        <logger name="*" minlevel="Trace" writeTo="logfile"/>
      </rules>
    </nlog>
    <applicationSettings>
        <ChatAiClient.Properties.Settings>
            <setting name="ApiUrlDefault" serializeAs="String">
                <value>https://api.openai.com/</value>
            </setting>
            <setting name="HelpUrl" serializeAs="String">
                <value>https://github.com/junichiakahori/chat-ai-client</value>
            </setting>
        </ChatAiClient.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <ChatAiClient.Properties.Settings>
            <setting name="ApiUrl" serializeAs="String">
                <value>https://api.openai.com/</value>
            </setting>
            <setting name="ApiKey" serializeAs="String">
                <value>sk-************************************************</value>
            </setting>
            <setting name="ApiKeysUrl" serializeAs="String">
                <value>https://platform.openai.com/account/api-keys </value>
            </setting>
            <setting name="ChunkSizeMb" serializeAs="String">
                <value>0.5</value>
            </setting>
        </ChatAiClient.Properties.Settings>
    </userSettings>
</configuration>
